* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo";
}

/* Global */
.pagination,
.header,
.items-controller {
  display: flex;
}

.header,
th {
  padding: 20px;
}
.pagination,
.items-controller {
  align-items: center;
}
input,
td,
th,
.items-controller,
select,
.pagination li {
  color: rgb(121, 117, 117);
}
.items-controller,
.table_content {
  width: 90%;
}
.pagination li,
input {
  border-radius: 5px;
}
.pagination li,
td,
th {
  border: 1px solid rgb(121, 117, 117);
}
.pagination li.active,
.header {
  color: #fff;
}
body {
  background-color: rgb(190, 252, 231);
}
.wrapper {
  margin: 20px 20px;
  background-color: #fff;
}
.header {
  justify-content: space-between;
  margin: 10px 0 10px 0;

  background-color: #435d7d;
}

h2 {
  margin-left: 3rem;
}

input {
  width: 20rem;
  padding: 10px;

  outline: none;
  border-style: none;
}

.table_content {
  border-collapse: collapse;
  margin-left: 5%;
}

td,
th {
  text-align: start;

  border-left: none;
  border-right: none;
  font-size: 20px;
}
th {
  font-weight: bold;
}
td {
  padding: 30px;
  font-weight: 600;
}
.pagination {
  justify-content: center;
  margin-top: 20px;
}
.pagination li {
  list-style: none;
  padding: 2px;
  margin: 10px;
  flex-shrink: 0;
  text-align: center;
}
.pagination li.active {
  background: #32d6aa;
  border-color: #32d6aa;
}
.pagination li a {
  text-decoration: none;
  padding: 3px 8px;
  color: inherit;
  display: block;
  font-size: 13px;
}
select {
  padding: 2px;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
  border: none;
}
.items-controller {
  height: 100px;
  margin: auto;
  align-content: center;
}

@media screen and (max-width: 480px) {
  .wrapper {
    margin: 0;
  }
  .header {
    margin: 0;
  }
  h2 {
    font-size: 20px;
    margin-left: 3.5rem;
  }
  th,
  td {
    border: 1px solid;
    font-size: 15px;
  }
  input {
    display: block;
    position: absolute;
    background-color: #b3b5b8;
    width: 95%;
    left: 10px;
    margin-top: 3.2rem;
  }
  .table_content {
    margin: 0;
  }
  .items-controller {
    margin-top: 1rem;
    font-size: 15px;
  }
  select {
    font-size: 12px;
  }
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 96%;
    margin-left: 2%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
